{{ define "breadcrumb" }}
<nav>
   <div class="nav-wrapper green">
     <div class="col s12">
       <a href="#!" class="breadcrumb">First</a>
       <a href="#!" class="breadcrumb">Second</a>
       <a href="#!" class="breadcrumb">Third</a>
     </div>
   </div>
 </nav>
{{ end }}
