{{ define "form" }}
<div id="app" class="row">
    <form class="col s6 offset-s3">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">First Name</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="icon_telephone" type="tel" class="validate">
            <label for="icon_telephone">Telephone</label>
          </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="email" @keydown="play" type="email" class="validate">
          <label for="email" data-error="wrong" data-success="right">Email</label>
        </div>
        <!-- Switch -->
        <div class="switch center-align">
          <h6>Are you accepting challenge?</h6>
          <label>
            Off
            <input id="challenge" @click="play2" type="checkbox">
            <span class="lever"></span>
            On
          </label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea" data-length="120"></textarea>
          <label for="icon_prefix2">Message</label>
        </div>
        <div class="col s12 center-align">
          <button class="btn pulse green" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
{{end}}
