{{define "navbar"}}
<nav>
   <div class="nav-wrapper green lighten-1">
     <a href="#!" class="brand-logo center">Logo</a>
     <ul class="left hide-on-med-and-down">
       <li><a href="/contact">Contact</a></li>
       <li><a href="/about">About</a></li>
       <li class="/home"><a href="/">Home</a></li>
     </ul>
     <ul class="right hide-on-med-and-down">
       <li><a href="sass.html" class="btn btn-floating pulse green"><i class="material-icons">search</i></a></li>
       <li><a href="badges.html" class="btn btn-floating pulse green"><i class="material-icons">view_module</i></a></li>
       <li><a href="collapsible.html" class="btn btn-floating pulse green"><i class="material-icons">refresh</i></a></li>
       <li><a href="mobile.html" class="btn btn-floating pulse green"><i class="material-icons">more_vert</i></a></li>
     </ul>
   </div>
 </nav>
{{end}}
